extends layout

block content
  h1= title

  form(id='CowForm', action="/resource/resource/cow", method="POST")
    div.form-group
        label.cowAttr(for='cowName') cow type
        input#cowName(type='text', name='cowName')
    div.form-group
        label.cowAttr(for='habitat') Cow habitat
        input#habitat(type='text', name='habitat')
    div.form-group
        label.cowAttr(for='price') Cow Price
        input#price(type='number', name='price')
    input(type="submit")

  script.

    document.forms['CowForm'].addEventListener('submit', (event) => { 
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        console.log(resp.json)
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
