body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.cowAttr {
  /* background-color: brown; */
  width: 200px;
  margin: 5px;
  text-align: center;
  color: black;
  padding: 10px;
  border-radius: 5px;
  font-weight: bolder;

}
#ajayTitle{
  color: #126656;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list{
  margin: 2px;
  padding: 10px;
  justify-content:center;
  font-weight: bold;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  background-color: rgb(80, 223, 37);
  border-radius: 5px;
}
.ajay{
    border-top: 2px solid red;
    width: 40%;
}
.list:hover{
  background-color: rgb(4, 255, 255);
  color: black;
}
